@media(max-width:320px){
    .nested-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "left"
        "right";
        border: 1px double cornflowerblue;
    }
}

@media(min-width:600px){
    .nested-container{
        display: grid;
        grid-template-columns: minmax(30%, 50%) minmax(auto, 50%);
        grid-template-rows: 1fr;
        grid-template-areas: "left right";
        border: 1px double cornflowerblue;
    }
}

.inner-left{
    grid-area: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.inner-right{
    grid-area: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.avatar{
    width: 60%;
    border-radius: 50%;
}
.card{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0;
    background-color: darkgray; 
}

.fit{
    width: 100%;
    height: 100%;
}

.mid{
    text-align: center;
}